{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edit Online{% endblock %}

{% block body %}
    <h1>Edit Online</h1>

    {{ include('online/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('online_index') }}">back to list</a>

    {{ include('online/_delete_form.html.twig') }}
{% endblock %}
