{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Ajouter Instrumentale{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle instrumentale</h1>

    {{ include('instrumental/_form.html.twig') }}

    <a href="{{ path('instrumental_index') }}">Retour à la liste</a>
{% endblock %}
