<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<header class="col-2 pl-0">

        {% include 'components/_navbar.html.twig' %}

    </header>
    <main class="col-10 mainsize">
        {% block body %}{% endblock %}
    </main>
{% block javascripts %}{% endblock %}
{{ encore_entry_script_tags('app') }}
</body>
</html>
